:root {
    --verde:#70aa2a;
    --negro:#000;
    --marrocito: #ffeec3;
    --marronFuerte: #bf8055;
}

body {
    background: rgb(51,51,51);
    background: linear-gradient(15deg, rgba(51,51,51,1) 0%, rgba(191,128,85,1) 46%, rgba(255,238,195,1) 100%);
    background-repeat: repeat;
    height: 95vh;
    font-family: 'Indie Flower', cursive;
    font-size: 1.3rem;
}
.margin {
    margin-top: 12%;
}

form {
    box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.74);
    -webkit-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.74);
    border-radius: 14px;
    width: 20rem;
}

.boton-propio{
    margin-left: 30%;
    background: var(--marrocito);
    color: var(--negro);
    border: .5px solid var(--negro);
    width: 5rem;
}

.boton-propio:hover {
    background: var(--marronFuerte);
    border: .5px solid var(--negro);
    box-sizing: border-box;
}
.btn:focus{
    box-shadow: none;
}


.form-control{
    border: none;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%)!important;
    border: none;
}

#exampleCheck1{
    border: none;
}

#exampleCheck1:focus{
    box-shadow: none;
}

#exampleCheck1:checked {
    background: var(--negro);
    border:none;
}